::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: all 0.3s ease;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: all 0.3s ease;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: all 0.3s ease;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: all 0.3s ease;
}

input:focus:-moz-placeholder {
  color: transparent;
  opacity: 0;
  transition: all 0.3s ease;
}

input:focus::-moz-placeholder {
  color: transparent;
  opacity: 0;
  transition: all 0.3s ease;
}

input:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 0;
  transition: all 0.3s ease;
}

input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #ac7a2b;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
button,
button:focus,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */
input[type=checkbox], input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

a:hover {
  text-decoration: none;
}

body {
  line-height: 1.4;
  transition: 0s;
  background: #000;
  color: #090909;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

section {
  position: relative;
}

.text-gradient {
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-orange {
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
}

.bg-gray {
  background: linear-gradient(#d4d4d4 0%, #aeaeae 100%);
}

.bg-black {
  background: linear-gradient(#494949 0%, #000000 100%);
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.2);
}
.btn span {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn span i {
  margin-left: 8px;
}

.btn-gradient {
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
}
.btn-gradient span {
  -webkit-text-fill-color: #fff;
}

h1, h2, h3, h4 {
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 36px;
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span, h2 span, h3 span, h4 span {
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-size: 43px;
  font-weight: 800;
}

h1 {
  font-size: 103px;
}

h2 {
  font-size: 68px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 64px;
  -webkit-text-fill-color: #fff;
}

.title {
  font-weight: 800;
  font-style: italic;
  font-size: 27px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

.made-in {
  position: absolute;
  left: 0;
  bottom: 35px;
  width: 100%;
}
.made-in img {
  display: block;
  margin: 0 0 0 auto;
}

.slick-dots li button {
  width: 1px;
  height: 1px;
  display: none;
  visibility: hidden;
}

.slick-dots {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.slick-dots li {
  display: block;
  transition: 0.2s;
  margin: 5px 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dcd2d2;
  opacity: 0.2;
}
.slick-dots li.slick-active {
  opacity: 1;
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
}

.prev, .next {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 29px 0 rgba(22, 22, 22, 0.13);
  border: none;
  background-color: #fff;
  top: 50%;
  margin-top: -30px;
  z-index: 50;
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
}
.prev i, .next i {
  display: block;
  font-size: 22px;
  color: #fff;
}
.prev:hover, .next:hover {
  background: #fff;
}
.prev:hover i, .next:hover i {
  color: #ecd16e;
}

.prev {
  left: 368px;
}
.prev i {
  margin-left: -5px;
}

.next {
  right: 368px;
}
.next i {
  margin-right: -5px;
}

.slide-item {
  outline: none;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.socials li {
  margin-left: 7px;
}
.socials li a {
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
}
.socials li a i {
  transition: all 0.2s;
  font-size: 12px;
  color: #000;
}
.socials li a:hover {
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
}
.socials li a:hover i {
  color: #fff;
}

.form-group {
  margin-top: 10px;
  width: 100%;
  max-width: 340px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.form-group input {
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.form-group button {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #000;
  transform: translateY(-50%);
  background: transparent;
  border: none;
}

.advantages {
  margin-bottom: 20px;
}
.advantages li {
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  color: #000;
  text-transform: uppercase;
  position: relative;
  padding-left: 35px;
  margin-bottom: 7px;
}
.advantages li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: url("../img/star.png") center center no-repeat;
}

header {
  height: 140px;
  overflow: hidden;
}
header .container {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.main-screen__info .title {
  font-size: 43px;
}
.main-screen__info .direction {
  padding-top: 28px;
  border-top: solid 1px #fff;
}
.main-screen__info .direction .title {
  font-weight: 600;
  font-size: 17px;
}
.main-screen .slide-item {
  height: calc(100vh - 140px);
  background: url("../img/bg-main-screen.jpg") top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.main-screen .slide-item .container {
  position: relative;
  height: 100%;
  align-items: center;
}

.main-menu {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  height: 100%;
}
.main-menu li {
  margin-left: 40px;
}
.main-menu li a {
  transition: 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 140px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.main-menu li a:after {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #ecd16e 0%, #ac7a2b 100%);
}
.main-menu li a:hover {
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-menu li a:hover:after {
  opacity: 1;
}

.main-menu.active {
  transition: all 0.2s;
  padding: 30px 40px 30px 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: #000;
  right: 0;
  top: 0;
  opacity: 1;
  transform: translateX(0);
  width: 300px;
  height: 100vh;
}
.main-menu.active li a {
  height: auto;
  margin-bottom: 20px;
}

.menu-link .line {
  transition: all 0.3s ease-in-out;
}

.menu-link.active .line:nth-child(2) {
  opacity: 0;
}

.menu-link.active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu-link.active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.story__inner {
  overflow: hidden;
  flex-wrap: wrap;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.story__inner .video {
  width: 40%;
  height: 640px;
  position: relative;
}
.story__inner .video__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story__inner .video__link {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story__inner .info {
  width: 60%;
  background: #fff;
  padding: 50px 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.story__inner .info p {
  text-align: justify;
  margin-bottom: 16px;
}
.story__inner .info .title {
  color: #000;
  margin-bottom: 0;
}

.product__slider .slick-list {
  padding: 0 300px;
}
.product__slider .slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 3px;
  padding: 50px 0 30px;
}
.product__slider .slide-item > div {
  padding: 0 10px;
}

.partners {
  padding: 70px 0;
  text-align: center;
}

.recipes {
  z-index: 2;
}
.recipes__slider .slick-list {
  padding: 0 400px;
}
.recipes__slider .slide-item {
  width: 500px;
  filter: brightness(20%);
  margin: 0 4px;
  overflow: hidden;
  border-radius: 10px;
  height: 520px;
}
.recipes__slider .slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipes__slider .slick-active {
  filter: brightness(100%);
}
.recipes__info {
  padding: 20px 35px;
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  top: -60px;
}
.recipes__info div:nth-child(1) span {
  font-size: 15px;
  font-weight: 400;
}
.recipes__info div:nth-child(1) p {
  font-size: 29px;
  font-weight: 800;
}
.recipes__info ul li {
  font-size: 18px;
}
.recipes__info ul li span {
  text-transform: none;
  font-size: 24px;
  font-weight: 800;
}
.recipes__info ul li img {
  margin-right: 10px;
}

.find {
  text-align: center;
  margin-top: -420px;
  padding-top: 500px;
  padding-bottom: 420px;
  background: url("../img/bg-find.png") top center no-repeat #fff;
  -webkit-background-size: cover;
  background-size: cover;
}
.find p {
  width: 100%;
  margin: 0 auto 30px;
  max-width: 780px;
}
.find__slider .slide-item {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.find .title {
  margin-bottom: 0;
  color: #000;
}

.contacts {
  position: absolute;
  left: 0;
  bottom: -290px;
  width: 100%;
}
.contacts__inner {
  flex-wrap: wrap;
  height: 570px;
  border-radius: 10px;
  overflow: hidden;
}
.contacts .info {
  height: 100%;
  width: 50%;
  background: url("../img/find-img.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 80px;
}
.contacts .info a {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 30px;
}
.contacts .info a:last-child {
  margin-bottom: 0;
}
.contacts .map {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts .map img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts .map .btn {
  position: relative;
  z-index: 1;
}

footer {
  padding: 470px 0 150px;
  background: url("../img/bg-footer.jpg") top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}
footer p {
  font-size: 19px;
}
footer p span {
  font-weight: 600;
}
footer .footer__link {
  display: block;
  transition: all 0.2s;
  color: #fff;
  font-weight: 800;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 10px;
}
footer .footer__link:hover {
  background: linear-gradient(#ecd16e 0%, #ac7a2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer__col:nth-child(1) {
  width: 20%;
}
footer .footer__col:nth-child(2) {
  width: 20%;
}
footer .footer__col:nth-child(3) {
  width: 30%;
}
footer .footer__col:nth-child(4) {
  width: 30%;
}
footer .container {
  flex-wrap: wrap;
  align-items: center;
}

.menu-link {
  display: none;
  z-index: 99;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  height: 30px;
  padding: 0 5px;
  border-radius: 3px;
  overflow: hidden;
}
.menu-link .line {
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
  margin: 2px 0;
}

@media (max-width: 1700px) {
  .recipes__slider .slick-list {
    padding: 0 260px;
  }

  .prev {
    left: 230px;
  }

  .next {
    right: 230px;
  }

  .product__slider .slick-list {
    padding: 0 150px;
  }
}
@media (max-width: 1430px) {
  .recipes__slider .slick-list {
    padding: 0 150px;
  }

  .prev {
    left: 120px;
  }

  .next {
    right: 120px;
  }
}
@media (max-width: 1229px) {
  .main-menu li {
    margin-left: 20px;
  }

  .main-menu li a {
    font-size: 15px;
  }

  h1 {
    font-size: 70px;
  }

  h4 {
    font-size: 38px;
  }

  h1, h2, h3, h4 {
    margin-bottom: 20px;
  }

  .made-in img {
    width: 150px;
  }

  .main-screen__info .title {
    font-size: 30px;
  }

  header {
    height: 100px;
  }

  .main-menu li a {
    height: 100px;
  }

  .main-screen .slide-item {
    height: calc(100vh - 100px);
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    position: absolute;
    left: 20px;
    top: auto;
    bottom: 20px;
    transform: none;
  }

  .slick-dots li {
    margin: 0 2px;
    display: inline-block;
  }

  h2 {
    font-size: 50px;
  }

  .story__inner .info {
    padding: 50px 100px;
  }

  .story__inner .video {
    height: 550px;
  }

  .product__slider .slick-list {
    padding: 0 100px;
  }

  .title {
    font-size: 24px;
  }

  .recipes__slider .slide-item {
    height: 370px;
  }

  .contacts .info a {
    font-size: 34px;
    margin-bottom: 22px;
  }

  .contacts__inner {
    height: 475px;
  }

  .contacts {
    bottom: -247px;
  }

  .slick-dots {
    left: 0;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .menu-link {
    display: flex;
  }

  .main-menu {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    width: 80vh;
    height: 100%;
  }

  h1 {
    font-size: 63px;
  }

  .story__inner .video,
.story__inner .info {
    width: 100%;
  }

  .story__inner .video {
    height: 460px;
  }

  h4 {
    font-size: 30px;
  }

  .title {
    font-size: 17px;
  }

  .product__slider .slick-list {
    padding: 0 60px;
  }

  .partners img {
    max-width: 200px;
  }

  .recipes__slider .slick-list {
    padding: 0 60px;
  }

  .prev {
    left: 30px;
  }

  .next {
    right: 30px;
  }

  .recipes__info {
    max-width: 550px;
    flex-direction: column;
    text-align: center;
  }
  .recipes__info > div {
    margin-bottom: 20px;
  }

  .story__inner .info {
    justify-content: center;
    align-items: center;
  }

  .contacts .info {
    padding: 10px 50px;
  }

  .contacts .info a {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .contacts__inner {
    height: 380px;
  }

  footer .footer__col {
    width: 50% !important;
    margin-bottom: 40px;
  }

  .contacts {
    bottom: -195px;
  }

  .find {
    padding-top: 450px;
    padding-bottom: 276px;
  }

  footer {
    padding: 260px 0 50px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 46px;
  }

  .main-screen__info .title {
    font-size: 22px;
  }

  .main-screen__info .direction {
    padding-top: 12px;
  }

  .story__inner .video {
    height: 320px;
  }

  .story__inner .info {
    padding: 50px 15px;
  }

  h2 {
    font-size: 38px;
  }

  .product__slider .slick-list {
    padding: 0 30px;
  }

  h4 {
    font-size: 27px;
  }

  .title {
    font-size: 14px;
  }

  .partners {
    padding: 50px 0;
  }

  .partners__item {
    margin-bottom: 30px;
  }

  .recipes__slider .slick-list {
    padding: 0 30px;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .contacts .info,
.contacts .map {
    align-items: center;
    height: 300px;
    width: 100%;
  }

  .contacts__inner {
    height: auto;
  }

  .contacts .map {
    order: -1;
  }

  .contacts {
    bottom: -362px;
  }

  footer {
    padding: 400px 0 50px;
  }

  .recipes__info {
    border-radius: 0;
    max-width: unset;
    top: 0;
  }
}
@media (max-width: 575px) {
  .slick-dots {
    justify-content: flex-start;
    left: 15px;
    bottom: 44px;
  }

  .story__inner .video__link img {
    width: 100px;
  }

  footer .footer__col {
    width: 100% !important;
    text-align: center;
    margin-bottom: 40px;
  }

  footer .footer__col:nth-child(1) {
    width: 20%;
    margin-bottom: 0;
  }

  .socials {
    justify-content: center;
  }

  .form-group {
    margin: 10px auto 0;
  }

  .main-screen .slide-item {
    background-position-x: -260px;
  }

  .advantages li {
    font-size: 18px;
  }

  .partners img {
    max-width: 160px;
  }
}

/*# sourceMappingURL=app.css.map */
